<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808372705014-mrgne7j6bqpfrbruoumlf7bn79jevhmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808372705014-mrgne7j6bqpfrbruoumlf7bn79jevhmq</string>
	<key>API_KEY</key>
	<string>AIzaSyA7vM1fQW0ZWMxE7v-xMEGf9LgBdx99xPo</string>
	<key>GCM_SENDER_ID</key>
	<string>808372705014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.downtownengineers.meetingModule2</string>
	<key>PROJECT_ID</key>
	<string>meeting-module-4959e</string>
	<key>STORAGE_BUCKET</key>
	<string>meeting-module-4959e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808372705014:ios:69c9ac8b79b876d8c1bed7</string>
	<key>DATABASE_URL</key>
	<string>https://meeting-module-4959e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>